{% extends "layout.html" %}

{% block title %}
    Portfolio
{% endblock %}

{% block main %}

<!------------------------- STOCK TICKER ---------------------------->
<div class="tradingview-widget-container">
    <div class="tradingview-widget-container__widget"></div>
    <script type="text/javascript" src="https://s3.tradingview.com/external-embedding/embed-widget-ticker-tape.js" async>
    {
    "symbols": [
      {
        "description": "",
        "proName": "BSE:HDFC"
      },
      {
        "description": "",
        "proName": "BSE:ICICIBANK"
      },
      {
        "description": "INFOSYS",
        "proName": "BSE:INFY"
      },
      {
        "description": "KOTAK MAHINDRA",
        "proName": "BSE:KOTAKBANK"
      },
      {
        "description": "",
        "proName": "BSE:BHARTIARTL"
      },
      {
        "description": "",
        "proName": "BSE:SENSEX"
      },
      {
        "description": "",
        "proName": "BSE:NTPC"
      },
      {
        "description": "",
        "proName": "BSE:ONGC"
      },
      {
        "description": "",
        "proName": "BSE:RELIANCE"
      },
      {
        "description": "SBI",
        "proName": "BSE:SBIN"
      },
      {
        "description": "",
        "proName": "BSE:TATASTEEL"
      },
      {
        "description": "",
        "proName": "BSE:TCS"
      },
      {
        "description": "",
        "proName": "BSE:TITAN"
      }
        ],
        "colorTheme": "light",
        "isTransparent": true,
        "displayMode": "adaptive",
        "locale": "in"
    }
    </script>
</div>
<!------------------------- STOCK TICKER END --------------------->

<div class="container" style="padding-top:20px;">
  <!---------------------CAROUSAL---------------------------------->
  <div class="carousel" style="background-color: azure;margin-top: 20px">
      <div id="cslide" class="carousel slide" data-ride="carousel">
          <div class="carousel-inner" role="listbox">
              <ol class="carousel-indicators " style="bottom: -20px">
                  <li data-target="#cslide" data-slide-to="0" class="active"></li>
                  <li data-target="#cslide" data-slide-to="1"></li>
                  <li data-target="#cslide" data-slide-to="2"></li>
              </ol>

              <div class="carousel-item active text-center p-4">
                  <h5><a target = "_blank" href="https://economictimes.indiatimes.com/markets/stocks/news/unlisted-
                  companies-attract-97-of-fdi-in-fy20/articleshow/81853714.cms" class="stretched-link" style="color: black;text-decoration: none">
                      Unlisted companies attract 97% of FDI in FY20
                 </a></h5>
                  <p>
                      India attracted a total of Rs 7.06 lakh crore foreign direct investment in FY20. As many as 24,580 firms have raised equity from foreign investors.
                </p>
              </div>

              <div class="carousel-item text-center p-4">
                  <h5><a target = "_blank" href="https://www.moneycontrol.com/news/business/markets/as-second-wave-soars-a
                  void-speculating-in-cyclical-firms-with-sub-standard-corporate-governance-poor-earnings-potential-6752141.html" class="stretched-link" style="color: black;text-decoration: none">
                      'As second wave soars, avoid speculating in cyclical firms with sub-standard corporate governance, poor earnings potential'
                  </a></h5>
                  <p>
                      'To remain invested in equities' has been the mantra given our steadfast stance of 'Time in the market' rather than 'Timing the market'.
                  </p>
              </div>

              <div class="carousel-item text-center p-4">
                  <h5><a target = "_blank" href="https://www.bloombergquint.com/markets/india-stocks-seen-reaping-2-5-billion-inflow-on-
                  msci-changes" class="stretched-link" style="color: black;text-decoration: none">
                      India Stocks May Reap $2.5 Billion Inflow on MSCI Index Changes
                  </a></h5>
                  <p>
                      India's stock market will see a net inflow of about $2.5 billion from the next round of changes
                      to MSCI Inc.'s indexes, according to Morgan ...
                  </p>
              </div>
          </div>
          <a target = "_blank" class="carousel-control-prev" href="#cslide" role="button" data-slide="prev" style="left: -65px">
              <span class="fas fa-chevron-circle-left fa-x" aria-hidden="true"></span>
              <span class="sr-only">Previous</span>
          </a>
          <a target = "_blank" class="carousel-control-next" href="#cslide" role="button" data-slide="next" style="right: -70px">
              <span class="fas fa-chevron-circle-right fa-x" aria-hidden="true"></span>
              <span class="sr-only">Next</span>
          </a>
      </div>
  </div>
  <!-----------------------CAROUSAL END---------------------------------->


  <!-------------------------NEWS-------------------------------->
  <p><h2 style="text-align: center;margin-bottom: 20px;font-family:OpenSans-SemiBold">TOP STORIES</h2>

  <div class="media position-relative" style="margin-bottom: 20px">
      <img alt="MoneyControl" src="https://images.moneycontrol.com/images/common/header/logo.png?v=0.2&impolicy=mchigh" width="75" height="50" class="mr-3">
      <div class="media-body">
          <h5><a target = "_blank" href="https://www.moneycontrol.com/news/india/covid-19-second-wave-delhi-imposes-new
          -restrictions-what-is-allowed-what-is-not-6753701.html" style="color: black;text-decoration: none">
             COVID-19 second wave | Delhi imposes new restrictions; what is allowed, what is not
          </a></h5>
          <p>
              It was only a day ago when Delhi had seen its highest single-day COVID-19 case spike with 8,521 new
              coronavirus infections being reported in just 24 hours.
          </p>

      </div>
  </div>

  <div class="media position-relative" style="margin-bottom: 20px">
      <img alt="EconomicTimes" src="https://images-na.ssl-images-amazon.com/images/I/610xV0rT8kL._AC_UL600_SR600,600_.png" width="75" height="50" class="mr-3">
      <div class="media-body">
          <h5><a target = "_blank" href="https://economictimes.indiatimes.com/markets/stocks/news/800-return-in-3-years-
          unlisted-damani-stock-has-analysts-hooked/articleshow/81932472.cms" class="stretched-link" style="color: black;text-decoration: none">
              800% return in 3 years! Unlisted Damani stock has analysts hooked
          </a></h5>
          <p>
             Analysts and dealers in the unofficial market attributed the buoyancy to the 14th IPL edition that kicks off on April 9.
          </p>
      </div>
  </div>

  <div class="media position-relative" style="margin-bottom: 20px">
      <img alt="EconomicTimes" src="https://images-na.ssl-images-amazon.com/images/I/610xV0rT8kL._AC_UL600_SR600,600_.png" width="75" height="50" class="mr-3">
      <div class="media-body">
          <h5><a target = "_blank" href="https://economictimes.indiatimes.com/markets/ipos/fpos/shriram-properties-files-
          drhp-for-rs-800-crore-ipo/articleshow/82003032.cms" class="stretched-link" style="color: black;text-decoration: none">
              Shriram Properties files DRHP for Rs 800 crore IPO
          </a></h5>
          <p>
             The offer for sale comprises of Rs 147.1 crore by Omega TC Sabre Holdings, up to Rs 13 crore by Tata Capital Financial Services; up to Rs 148.9 crore by TPG Asia SF V, up to Rs 216 crore by WSI/WSQI V (XXXII) Mauritius Investors and up to Rs 25 crore by the other selling shareholders.
          </p>
      </div>
  </div>

  <div class="media position-relative" style="margin-bottom: 20px">
      <img alt="LiveMint" src="https://pbs.twimg.com/profile_images/1303221636745760768/jhoXTzaw.jpg" width="75" height="50"  class="mr-3">
      <div class="media-body">
          <h5><a target = "_blank" href="https://www.livemint.com/market/mark-to-market/idfc-first-bank-gets-it-right-
          with-retail-but-asset-quality-worries-linger-11617951132021.html" style="color: black;text-decoration: none">
             IDFC First Bank gets it right with retail but asset quality worries linger
          </a></h5>
          <p>
              Retail assets formed 67% of total assets for the bank as of March. Of course, some of this increase is
              also through purchase of priority sector portfolios from other lenders
          </p>
      </div>
  </div>

  <div class="media position-relative" style="margin-bottom: 20px">
      <img alt="LiveMint" src="https://sc.cnbcfm.com/applications/cnbc.com/staticcontent/img/cnbc_logo.gif?v=1524171804" width="75" height="50"  class="mr-3">
      <div class="media-body">
          <h5><a target = "_blank" href="https://www.cnbctv18.com/market/stocks/fearing-lockdown-impact-on-markets-axis
          -securities-lists-its-top-picks-8873761.htm" style="color: black;text-decoration: none">
              Fearing lockdown impact on markets? Axis Securities lists its top picks
          </a></h5>
          <p>
              Brokerage house Axis Securities says no. It looks unlikely that India will see another national lockdown,
              it said in a recent report.Pharma, IT services, Chemicals & Fertilizers, Telecom and FMCG are at
              least risk from EPS/PE erosion in a lockdown scenario, it added.Meanwhile, in a partial lockdown
              scenario, FMCG, infrastructure, resources and cement should also hold up, Axis said.
          </p>
      </div>
  </div>

</div>
{% endblock %}